@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@import url('./reset.css');
@import url('./colors.css');

@import url('./card.css');

body {
  font-family: 'Geist', sans-serif;
  color: var(--color-white);
  background-color: var(--color-background);
}

.container {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
